

.confirm {
  max-width: 40rem;
  margin: 100px auto;

  h1 {
    color: #cf4d46;
    text-align: center;
  }

  p {
    
    margin: 0 auto;
    width: 75%;
    text-align: center;
  }

  img {
    width: 100%;
  }
}