.panel {
  height: 100%;
  z-index: 1;
  position: relative;
  float: left;
  width: 21%;
  max-width: 300px;
  // padding: 1%;
  background-color: white;
  height: 100%;
  -webkit-box-shadow: 0.5px 0 38.1px 0 rgba(220, 221, 222, 0.28);
  -moz-box-shadow:    0.5px 0 38.1px 0 rgba(220, 221, 222, 0.28);
  box-shadow:         0.5px 0 38.1px 0 rgba(220, 221, 222, 0.28);
  
  img {
    width: 100%;
    &.name {
      width: 100%;
      padding: 0 10%;
    }
  }

  p {
    width: 80%;
    font-size: 84%;
    text-align: left;
    margin: 3.5% auto 10%;
  }

  form {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

    @mixin icon-input {
      position: relative;
      font-size: 0;
      div.icon {
        font-size: 1rem;
        width: 20%;
        display: inline-block;
        text-align: center;
      }

      div.point {
        display: inline-block;
        width: 24px;
        height: 24px;
        color: white;
        text-align: center;
        border-radius: 12px;
        background-color: $green;
        line-height: 24px;
      }

      input {
        @include if-invalid;
        font-size: 1rem;
        border: none;
        width: 70%;
        line-height: 2rem;
        border-bottom: 2px solid white;
      }
      input:focus {
        outline: none;
        border-bottom: 2px solid $blue;
      }

      p {
        visibility: hidden;
        position: absolute;
      }

      input:focus + p {
        visibility: visible;
        top: 15%;
        left: 106%;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.35);
        padding: 5px;
        text-align: center;
      }
    }

    .role {
      width: 100%;
      text-align: center;
      margin: 7% 0 3%;

<<<<<<< HEAD
      label {
        img {
          cursor: pointer;
          opacity: 0.3;
          position: relative;
          width:60px;
          height: 60px;
          border-radius: 30px;
          transition: all 150ms ease-out;
        }

        input[type=radio] {
          display: none;
          &:checked + img {
            opacity: 1.0;
            z-index: 99;
            // border: 3px solid white;
            &.driver {
              transform: translateX(20%) scale(1.3);
            }
            &.passenger {
              transform: translateX(-20%) scale(1.3);
            }
          }
        }
      }

    }
      

    .date {
      margin: 0 auto;
      input {
        display: none;
      }
    }

    .endpoints{
      @include icon-input;

      div.point {
        display: inline-block;
        width: 24px;
        height: 24px;
        color: white;
        text-align: center;
        border-radius: 12px;
        background-color: $green;
        line-height: 24px;
        &.b {
          background-color: $red;
        }
      }
    }

    .email {
      @include icon-input;
      p { 
        font-size: 1rem;
        font-size: 1rem;
        padding: 0;
        margin: 0;
      }
      div.point {
        background-color: $black;
      }
    }

    .alias {
      @include icon-input;
      p { 
        font-size: 1rem; 
        font-size: 1rem;
        padding: 0;
        margin: 0;
      }
      div.point {
        font-family: Georgia;
        background-color: $yellow;
        line-height: 24px;
      }
    }

    .submit {
      text-align: center;
      button[type=submit] {
        margin: 0 auto;
        transform: rotate(90deg);
        font-size: 2rem;
        text-align: center;
        width: 50px;
        height: 50px;
        border-radius:25px;
        color: white;
        background-color: $green;
        border: none;
        &:hover {
          color: rgba($black,0.5);
        }
        &:focus {
          outline: none;
        }
        &:active {
          box-shadow: inset 0px 0px 10px #6EAD91;
          outline: none;
          border: none;
        }
      }
    }

  }
}
