.routebox {
  height: 100%;
  z-index: 1;
  position: relative;
  float: left;
  width: 270px;
  // padding: 1%;
  background-color: white;
  height: 100%;
  -webkit-box-shadow: 0.5px 0 38.1px 0 rgba(220, 221, 222, 0.28);
  -moz-box-shadow:    0.5px 0 38.1px 0 rgba(220, 221, 222, 0.28);
  box-shadow:         0.5px 0 38.1px 0 rgba(220, 221, 222, 0.28);
  
  td {
    padding: 2px;
    margin: 0px;
    text-align: left;
  }

  tr {
    cursor: pointer;
  }

  div {
    text-align: left;
  }
}

.origin {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  background-color: $green;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  margin: 5px;
}


.destination {
  height: 70px;
  width: 70px;
  border-radius: 35px;
  background-color: $red;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: white;
  margin: 5px;
}

.tweet {
  text-align: center;
}