$font-stack:    "Open Sans", sans-serif;
$green: rgba(136, 207, 48, 0.75);
@import "./client/bower_components/normalize.css/normalize.css";
@import "mixins";

// to make width inclusive of padding and margins, * applies to all elements
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #container {
  width: 100%;
  height: 100%;
}

html {
  font: 16px $font-stack;
  -webkit-font-smoothing: antialiased;
}

#container {
  position: relative;
}

@import "map";
@import "panel";



