$font-stack:    "Open Sans", sans-serif;
$blue: #7fc8ed;
$black: #312f2f;
$green: #83cead;
$red: #f79f79;
$yellow: #f7d08a;
@import "./client/bower_components/normalize.css/normalize.css";
@import "mixins";

// to make width inclusive of padding and margins, * applies to all elements
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #container {
  width: 100%;
  height: 100%;
}

html {
  font: 16px $font-stack;
  -webkit-font-smoothing: antialiased;
}

#container {
  position: fixed;
  overflow: hidden;
}

@import "map";
@import "pikaday";
@import "panel";
@import "confirm";
@import "routebox";



