
  <form ng-model="vm.trip" novalidate>
    <div class="role">
      <img src="ride.png">
      <input 
        id="driver"
        ng-model="vm.trip.type" 
        type="radio" 
        name="type" 
        value="driver">
      <label for="driver">Driver</label>
      <input 
        id="passenger"
        ng-model="vm.trip.type" 
        type="radio" 
        name="type" 
        value="passenger">
      <label for="passenger">Passenger</label>
    </div>

    <div class="endpoints">
      <input 
        ng-autocomplete
        ng-model="vm.trip.originText"
        details="vm.trip.origin"
        id="AutoComplete"
        type="text" 
        placeholder="Start"
        options="{country:'us'}"/>
      <input 
        ng-autocomplete
        ng-model="vm.trip.destinationText"
        details="vm.trip.destination"
        id="AutoComplete"
        type="text" 
        placeholder="End"
        options="{country:'us'}"/> 
    </div>

    <div class="date">
      <input 
        ng-model="vm.trip.date" 
        type="date"/> 
    </div>


    <div class="email">
      <input 
      ng-model="vm.trip.email" 
      type="email" 
      placeholder="name@email.com"/> 
    </div>

    <div class="alias">
      <input 
      ng-model="vm.trip.alias" 
      type="text" 
      placeholder="Alias"/> 
    </div>

    <button 
      ng-click="vm.createRoute(vm.trip)">Post Route
    </button>  

  </div>
  </form>


