
  <form ng-model="trip" novalidate>
    <div class="role">
      <img src="ride.png">
      <input 
        id="driver"
        ng-model="trip.type" 
        type="radio" 
        name="type" 
        value="driver">
      <label for="driver">Driver</label>
      <input 
        id="passenger"
        ng-model="trip.type" 
        type="radio" 
        name="type" 
        value="passenger">
      <label for="passenger">Passenger</label>
    </div>

    <div class="endpoints">
      <input 
        ng-autocomplete
        ng-model="trip.originText"
        details="trip.origin"
        id="AutoComplete"
        type="text" 
        placeholder="Start"
        options="{country:'us'}"/>
        <span 
          ng-show="trip.origin.length" 
          ng-click="trip.origin = '';vm.removeOrigin()"
          class="clearInput">x</span>
      <input 
        ng-autocomplete
        ng-model="trip.destinationText"
        details="trip.destination"
        id="AutoComplete"
        type="text" 
        placeholder="Start"
        options="{country:'us'}"/> 
        <span 
          ng-show="trip.destination.length" 
          ng-click="trip.destination = '';vm.removeDestination()"
          class="clearInput">x</span>
    </div>

    <div class="date">
      <input 
        ng-model="trip.date" 
        type="date"/> 
    </div>


    <div class="email">
      <input 
      ng-model="trip.email" 
      type="email" 
      placeholder="name@email.com"/> 
    </div>

    <div class="alias">
      <input 
      ng-model="trip.alias" 
      type="text" 
      placeholder="Kung Fu Panda"/> 
    </div>

    <button 
      ng-click="vm.createRoute(trip)">Post Route
    </button>  

  </div>
  </form>


